doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name='theme-color' content='#62A111')
    meta(name='msapplication-navbutton-color' content='#62A111')
    meta(name='apple-mobile-web-app-status-bar-style' content='#62A111')
    title
      block title
    link(rel="stylesheet" href="css/app.min.css")
    link(rel='shortcut icon' href='images/favicon.png' type='image/png')
    link(rel='apple-touch-icon' href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon' sizes='72x72' href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='images/apple-touch-icon-114x114.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap' rel='stylesheet')
body
  .wrapper
    .content
      include ../includes/mobile-mnu
      include ../includes/preloader
      include ../includes/header/header
      block main
    include ../includes/subscribe
    include ../includes/footer/footer
    //- include ../includes/icons/sprite  
    include ../includes/scripts 