.subscribe(style="background-image: url('images/dist/subscribe.webp')")
  .container
    .subscribe__wrap 
      .subscribe__col
        .light-title=subscribeTitle 
      .subscribe__col
        form
          .subscribe__form
            .subscribe__input 
              input(type="text" placeholder="Email")
            button.btn.btn--light Подписаться