extends layouts/without-subscribe-form
block title
  | Homepage
block main
  .hero 
    .container
      .hero__wrap
        include includes/mixins
        +heroHome
  include includes/nutrion-programms
  include includes/delivery
  include includes/markets