extends layouts/main
block title
  | main
block main
  .wrapper
    .content
        include includes/header/header

      
    
    include includes/footer/footer
    include includes/icons/sprite


  include includes/scripts 